.container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 31px 150px;
}

.link{
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    color: #777777;
    font-weight: 500;
  }

  button:disabled{
    opacity: 0.6;
  }



